@model MapContent

<div class="editor-label">
    @Html.LabelFor(model => model.GpsLocation)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GpsLocation)
    @Html.ValidationMessageFor(model => model.GpsLocation)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Zoom)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Zoom)
    @Html.ValidationMessageFor(model => model.Zoom)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Height)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Height)
    @Html.ValidationMessageFor(model => model.Height)
</div>