@using Bnh.Entities
@model IEnumerable<Wall>

@{
    var ownerId = (Guid)ViewBag.OwnerId;
    ViewBag.Title = "Scene designer";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Scene.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/DesignScene.css")" rel="stylesheet" type="text/css" />
    @*TODO: change theme to local one*@
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.json-2.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DesignScene.js")" type="text/javascript"></script>
}

<h2>@ViewBag.Title</h2>

<div class="page-view">
    
    <h2>
        <sup class="alter">@Html.ActionLink("edit properties", "Edit", "Community", new { id = ownerId }, null)</sup>
    </h2>

    <fieldset>
        <legend>Scene</legend>
            
        @Html.HiddenFor(model => ownerId)
            
        <div class="scene-wrapper">
            @Html.Partial("DesignScene", Model)
        </div>

        <div class="control-panel">
            <h3>Wall Control Panel</h3>
            
            <div class="editor-label">New wall</div>
            <div class="editor-field">
                @Html.TextBox("wallTitle")
                <input id="addWallButton" type="button" value="Add Wall" />
            </div>

            <div class="editor-label">New brick</div>
            <div class="editor-field">
                @Html.TextBox("brickTitle")
                @Html.DropDownListForBrickTypes("brickType")
                <input id="addBrickButton" type="button" value="Add Brick" />
            </div>

            <div class="editor-field">
                <label>@Html.CheckBox("lockWallsCheckbox", (bool)ViewBag.LockWalls)Lock walls</label>
            </div>
            <div class="editor-field">
                <label>@Html.CheckBox("lockBricksCheckbox")Lock bricks</label>
            </div>
            <div class="editor-field">
                <label>@Html.CheckBox("hideBricksContentCheckbox")Hide bricks content</label>
            </div>

            <div class="editor-field">
                @Html.TextBox("templateTitle")
                <input type="button" id="exportTemplateButton" value="Export Template"/>
            </div>

            <div class="editor-field">
                @Html.DropDownList("templateId", (SelectList)ViewBag.Templates)
                <input type="button" id="applyTemplateButton" value="Apply Template"/>
            </div>

            <div style="position:absolute; bottom: 0;">
                <span class="alter">
                    <input type="button" id="saveSceneButton" value="Save" />
                </span>
                @Html.ActionInputLink("View", "Details", "Community", new { id = ownerId }, new Dictionary<string, object> { { "id", "viewScene" } })
            </div>
        </div>

    </fieldset>

</div>