@using Bnh.Entities
@model Wall

@{
    ViewBag.Title = Model.GetCommunity().Name + " community wall designer";
}

<h2>@ViewBag.Title</h2>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.json-2.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/WallDesigner.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Styles/Wall.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Styles/WallDesigner.css")" rel="stylesheet" type="text/css" />
@*TODO: change theme to local one*@
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>

<div class="page-view">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OwnerId)

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            @Html.Partial("WallSceneDesigner", Model.Bricks)

            <div class="editor-label">New brick</div>
            <div class="editor-field">
                @Html.TextBox("brickTitle")
                @Html.DropDownListForBrickTypes("brickType")
                <input id="addBrickButton" type="button" value="Add Brick" />
            </div>

            <span class="alter">
                <input type="submit" value="Save" />
            </span>
            @Html.ActionInputLink("View", "Details", "Community", new { id = Model.OwnerId }, null)

        </fieldset>
    }
</div>

