@{
    ViewBag.Title = "Index";
}

<ul>
    <li>
        @Html.ActionLink("Info", "Info")
    </li>
    <li>
        @Html.ActionLink("Feedback Report", "FeedbackReport")
    </li>
    <li>
        @Html.ActionLink("Refresh Community Ratings", "RefreshRatings")
    </li>
    <li>
        @Html.ActionLink("Files", "Files")
    </li>
    <li>
        @Html.ActionLink("Rebuild Index", "RebuildSearchIndex")
    </li>
</ul>