@model Bnh.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    var genderItems = new[]
    {
        new SelectListItem { Selected = true, Text = string.Empty, Value = string.Empty},
        new SelectListItem { Text = "Male", Value = "0" },
        new SelectListItem { Text = "Femail", Value = "1" },
    };
}

@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Use the form below to change your password.</h2>
</hgroup>

<p class="message-info">
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@using (Html.BeginForm("Update", "Account")) {
    @Html.ValidationSummary(true, "Entered information is not valid. Please correct the errors and try again.")

    <fieldset>
        <legend>Account Information</legend>
        <table>
            <tr>                    
                <td>@Html.LabelFor(m => m.FirstName)</td>
                <td>@Html.TextBoxFor(m => m.FirstName)</td>
                <td>@Html.ValidationMessageFor(m => m.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.LastName)</td>
                <td>@Html.TextBoxFor(m => m.LastName)</td>
                <td>@Html.ValidationMessageFor(m => m.LastName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Birthday)</td>
                <td>@Html.TextBoxFor(m => m.Birthday)</td>
                <td>@Html.ValidationMessageFor(m => m.Birthday)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Gender)</td>
                <td>@Html.DropDownListFor(m => m.Gender, genderItems)</td>
                <td>@Html.ValidationMessageFor(m => m.Gender)</td>
            </tr>
        </table>
        <input type="submit" value="Update" />
    </fieldset>
}


@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Change Password</legend>
        <table>
            <tr>                    
                <td>@Html.LabelFor(m => m.OldPassword)</td>
                <td>@Html.PasswordFor(m => m.OldPassword)</td>
                <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
                <td>@Html.ValidationMessageFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" value="Change password" />
    </fieldset>
}
