@model Bnh.Web.Models.LoginModel

@section Scripts {
    <script>require(["account-login"])</script>
}

@{
    ViewBag.Title = "Log in";
    ViewBag.Description = "Enter your user name and password below";
}

<article class="row">

    <div class="span6">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error" })
            <fieldset>
                <legend>Internal Login</legend>
                <div class="control-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "alert-error" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "alert-error" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                    <div class="controls">
                        <label class="checkbox">@Html.CheckBoxFor(m => m.RememberMe)</label>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Log in" />
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        @Html.ActionLink("Register", "Register") if you don't have an account.
                    </div>
                </div>
            </fieldset>
        }
    </div>

    <div class="span6">
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>

</article>