@model Bnh.Web.Models.LoginModel

@section Styles {
    <link href="~/Styles/Login.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script>require(["account-login"])</script>
}

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Enter your user name and password below.</h2>
</hgroup>

<article>

@using (Html.BeginForm("Login", "Account")) {
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Internal Login</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
                <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </td>
            </tr>
        </table>
        <input type="submit" value="Log in" />
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    </fieldset>
}

@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @id="logonForm"}))
{
    @Html.Hidden("loginIdentifier", "https://www.google.com/accounts/o8/id")
    @Html.Hidden("returnUrl")
    <fieldset>
        <legend>External Login</legend>
        <a href="#" id="submitLink"><img alt="Google Login" src="~/Images/google.gif" /></a>
    </fieldset>
}

</article>