@model Bnh.Web.Models.AccountModel

@{
    ViewBag.Title = "Update Information";
    ViewBag.Description = "Use the form below to change your information";
}

<article class="row">

    <div class="span6">

        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "Entered information is not valid. Please correct the errors and try again.")
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>Account Information</legend>

                <div class="control-group">
                    <div class="controls">
                        <img src="@Model.AvatarImageUrl"/>
                        <div>
                            <a href="http://gravatar.com/">Change profile picture</a>
                         </div>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(m => m.DisplayName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.DisplayName)
                        @Html.ValidationMessageFor(m => m.DisplayName)
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(m => m.RealName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.RealName)
                        @Html.ValidationMessageFor(m => m.RealName)
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(m => m.GravatarEmail, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.GravatarEmail)
                        @Html.ValidationMessageFor(m => m.GravatarEmail)
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    @if(Model.CanChangePassword)
                    {
                        @Html.ActionInputLink("Change Password", "ChangePassword", "Account", null, new { @class = "btn" })
                    }
                </div>

            </fieldset>
        }

    </div>

    <div class="span6">

        <section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>

    <div>

</article>