@model Bnh.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    var genderItems = new[]
    {
        new SelectListItem { Selected = true, Text = string.Empty, Value = string.Empty},
        new SelectListItem { Text = "Male", Value = "0" },
        new SelectListItem { Text = "Femail", Value = "1" },
    };
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Use the form below to create a new account.</h2>
</hgroup>

<p class="message-info">
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@using (Html.BeginForm((string)ViewBag.FormAction, "Account")) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Registration Form</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.DisplayName)</td>
                <td>@Html.TextBoxFor(m => m.DisplayName)</td>
                <td>@Html.ValidationMessageFor(m => m.DisplayName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RealName)</td>
                <td>@Html.TextBoxFor(m => m.RealName)</td>
                <td>@Html.ValidationMessageFor(m => m.RealName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Location)</td>
                <td>@Html.TextBoxFor(m => m.Location)</td>
                <td>@Html.ValidationMessageFor(m => m.Location)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.GravatarEmail)</td>
                <td>@Html.TextBoxFor(m => m.GravatarEmail)</td>
                <td>@Html.ValidationMessageFor(m => m.GravatarEmail)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
                <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" value="Register" />
    </fieldset>
}
