@model Bnh.Web.Models.AccountModel

@{
    ViewBag.Title = "Update Information";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Use the form below to change your information.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Entered information is not valid. Please correct the errors and try again.")

    <fieldset class="update-profile">
        <legend>Account Information</legend>
        <div class="avatar">
            <img src="@Model.AvatarImageUrl"/>
            <a href="http://gravatar.com/">Change profile picture</a>
        </div>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.DisplayName)</td>
                <td>@Html.TextBoxFor(m => m.DisplayName)</td>
                <td>@Html.ValidationMessageFor(m => m.DisplayName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RealName)</td>
                <td>@Html.TextBoxFor(m => m.RealName)</td>
                <td>@Html.ValidationMessageFor(m => m.RealName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Location)</td>
                <td>@Html.TextBoxFor(m => m.Location)</td>
                <td>@Html.ValidationMessageFor(m => m.Location)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.GravatarEmail)</td>
                <td>@Html.TextBoxFor(m => m.GravatarEmail)</td>
                <td>@Html.ValidationMessageFor(m => m.GravatarEmail)</td>
            </tr>
        </table>
        <div class="buttons">
            <input type="submit" value="Update" />
            @Html.ActionInputLink("Change Password", "ChangePassword")
        </div>
    </fieldset>
}