@model Brick

@{
    ViewBag.Title = "Edit";
    var partialView = "~/WebExtracted/Ms.Cms/Views/Brick/{0}.cshtml".FormatWith((string)ViewBag.PartialView);
}

<h2>Edit</h2>

<div class="page-view">
@using (Html.BeginForm((string)ViewBag.PartialView, "Brick", new { id = Model.Id }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Brick</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Hidden("Type", Model.GetDiscriminant())
        @Html.HiddenFor(model => model.WallId)
        @Html.HiddenFor(model => model.Width)
        @Html.HiddenFor(model => model.Order)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContentTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContentTitle)
            @Html.ValidationMessageFor(model => model.ContentTitle)
        </div>
        
        @if (partialView != "Edit")
        {
            @Html.Partial(partialView, Model)
        }

        <span class="alter"><input type="submit" value="Save" /></span>
        @Html.ActionLink("Cancel", "Edit", "Scene", new { id = Model.Wall.SceneId }, null)
    </fieldset>
}
</div>

@{
    this.RenderStylesAndScripts();
}