@using Bnh.Entities
@model IEnumerable<Wall>

@{
    var ownerId = (Guid)ViewBag.OwnerId;
    ViewBag.Title = "wall designer";
}

<h2>@ViewBag.Title</h2>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.json-2.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/WallDesigner.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Styles/Wall.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Styles/WallDesigner.css")" rel="stylesheet" type="text/css" />
@*TODO: change theme to local one*@
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>

<div class="page-view">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>
            
            @Html.HiddenFor(model => ownerId)
            
            <div class="scene-wrapper">
                @Html.Partial("WallSceneDesigner", Model)
            </div>

            <div class="control-panel">
                <h3>Wall Control Panel</h3>

                <div class="editor-label">New brick</div>
                <div class="editor-field">
                    @Html.TextBox("brickTitle")
                    @Html.DropDownListForBrickTypes("brickType")
                    <input id="addBrickButton" type="button" value="Add Brick" />
                </div>
                
                <div class="editor-label">New wall</div>
                <div class="editor-field">
                    @Html.TextBox("wallTitle")
                    @Html.DropDownListForBrickTypes("wallType")
                    <input id="addWallButton" type="button" value="Add Wall" />
                </div>
                
                <div style="position:absolute; bottom: 0;">
                    <span class="alter">
                        <input type="submit" value="Save" />
                    </span>
                    @Html.ActionInputLink("View", "Details", "Community", new { id = ownerId }, new Dictionary<string, object> { { "id", "viewWall" } })
                </div>
            </div>

        </fieldset>
    }
</div>
