@model Bnh.Models.Community

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-view">
    <h2>Welcome to @Model.Name<sup>@Model.Zone.Name</sup> page</h2>

    <p>Community details will go here...</p>

@*    <fieldset>
        <legend>Community details will go here...</legend>

        <div class="display-label">Name</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">Zone</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Zone.Name)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
</div>