@model IEnumerable<Bnh.Entities.Community>

@{
    ViewBag.Title = "Communities in Calgary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-view">
    <h2>
        @ViewBag.Title
        @if (Context.User.IsInRole("content_manager"))
        {
            <sup class="alter">@Html.ActionLink("create new", "Create", null, new { title = "Create new community" })</sup>
        }
    </h2>

    <table>
        <tr>
        @foreach (var zone in Model.Select(c => c.Zone).Distinct().OrderBy(z => z.Order))
        {
            <td>
                <div class="list-header">@zone.Name</div>
                @foreach (var community in Model.Where(c => c.Zone == zone).OrderBy(c => c.Name)) 
                {
                    <div class="list">
                        @if (Context.User.IsInRole("content_manager"))
                        {
                            <sup class="alter">@Html.ActionLink("x", "Delete", new { id = community.Id }, new { title = "Delete " + community.Name })</sup>
                        }
                        <span>@Html.ActionLink(community.Name, "Details", new { id = community.Id })</span>
                    </div>
                }
            </td>
        }
        </tr>
    </table>
</div>

