@model Bnh.Entities.Brick

@{
    ViewBag.Title = "Edit";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
}

<h2>Edit</h2>

<div class="page-view">
@using (Html.BeginForm((string)ViewBag.PartialView, "Brick", new { id = Model.Id }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Brick</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.Hidden("Type", Model.GetDiscriminant())

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        @if (ViewBag.PartialView != "Edit")
        {
            @Html.Partial((string) ViewBag.PartialView, Model)
        }

        <span class="alter"><input type="submit" value="Save" /></span>
        @Html.ActionInputLink("Cancel", "Edit", "Scene", new { id = Model.Wall.OwnerId }, null)
    </fieldset>
}
</div>