@model Bnh.Entities.MapBrick

<div class="editor-label">
    @Html.LabelFor(model => model.GpsLocation)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GpsLocation)
    @Html.ValidationMessageFor(model => model.GpsLocation)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Zoom)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Zoom)
    @Html.ValidationMessageFor(model => model.Zoom)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Height)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Height)
    @Html.ValidationMessageFor(model => model.Height)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Polygon)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Polygon)
    @Html.ValidationMessageFor(model => model.Polygon)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PolygonColor)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PolygonColor)
    @Html.ValidationMessageFor(model => model.PolygonColor)
</div>
