@model Ms.Cms.Entities.GalleryBrick

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>GalleryBrick</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageListId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageListId)
            @Html.ValidationMessageFor(model => model.ImageListId)
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.WallId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WallId)
            @Html.ValidationMessageFor(model => model.WallId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>
     
    </fieldset>
}

