@using Bnh.Entities

@{
    var properties = FilterProperty.Get(typeof(Community));
}

<div id="filterParameters" data-bind="with: filter">
    @foreach (var jsp in properties)
    {
        if (jsp.Property.PropertyType == typeof(bool))
        { 
    <div><input id="@jsp.Name" type="checkbox" class="filter" data-bind="checked: @jsp.Name" /> @jsp.Title</div>
        }
        else
        { 
    <div>@jsp.Title<input id="@jsp.Name" type="text" class="filter" data-bind="value: @jsp.Name" /></div>
        }
    }
</div>