@using System.Reflection
@using System.Linq
@using Bnh.Entities
@using Bnh.WebFramework

@{
    var properties = CommunityExtensions.JsProperty.Get(typeof(Community));
}

<div id="filterParameters">
    @foreach (var jsp in properties)
    {
        if (jsp.Property.PropertyType == typeof(bool))
        { 
    <div><input id="@jsp.Name" type="checkbox" class="filter" data-bind="checked: @jsp.Name" /> @jsp.Title</div>
        }
        else
        { 
    <div>@jsp.Title<input id="@jsp.Name" type="input" class="filter" data-bind="value: @jsp.Name" /></div>
        }
    }

    <script type="text/javascript">
        function communityFilterViewModel(config) {
            var me = this;
            @foreach (var jsp in properties)
            {
            @:me.@jsp.Name = ko.observable(false);
            }

            this.isCommunityVisible = function(cp) {
                var visible = 
                    @foreach (var jsp in properties)
                    { 
                    @:(!(me.@(jsp.Name)()) || me.@(jsp.Name)() @(jsp.Operator) cp.@(jsp.Name)) &&
                    }
                    true;
                return visible;
            }           
        }
    </script>
</div>