@model Community

@{
    ViewBag.Title = "Create";
}

<div class="page-view">
    <h2>Add new community</h2>

    @using (Html.BeginForm()) {
        
        @Html.Hidden("CityId", (string)ViewBag.CityId)
        
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Community Details</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UrlId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UrlId)
                @Html.ValidationMessageFor(model => model.UrlId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Zone, "Zone")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Zone", (SelectList)ViewBag.CityZones)
                @Html.ValidationMessageFor(model => model.Zone)
            </div>
            
            <div class="editor-label">Scene Template</div>
            <div class="editor-field">
                @Html.DropDownList("templateSceneId", (SelectList)ViewBag.Templates)
            </div>

            <p>
                <span class="alter"><input type="submit" value="Create" /></span>
                @Html.ActionInputLink("Cancel", "Index")
            </p>
        </fieldset>
    }

</div>