@using Bnh.Entities
@model Bnh.Entities.Community

@{
    ViewBag.Title = Model.Name + " community";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Scene.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

<div class="page-view">
    <h2>
        <sup class="alter">@Html.ActionLink("edit scene", "Edit", "Scene", new { id = Model.Id }, null)</sup>
    </h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.Id)
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UrlId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UrlId)
                @Html.ValidationMessageFor(model => model.UrlId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ZoneId, "Zone")
            </div>
            <div class="editor-field">
                @Html.DropDownList("ZoneId", String.Empty)
                @Html.ValidationMessageFor(model => model.ZoneId)
            </div>

            <span class="alter">
                <input type="submit" value="Save" />
            </span>
            @Html.ActionInputLink("View", "Details", new { id = Model.UrlId })

        </fieldset>
    }
</div>

