@model IEnumerable<Bnh.Entities.Community>

@{
    ViewBag.Title = "Communities in Calgary";
}

<div class="page-view">
    <h2>
        @ViewBag.Title
        @if (Context.User.IsInRole("content_manager"))
        {
            <sup class="alter">@Html.ActionLink("create new", "Create", null, new { title = "Create new community" })</sup>
        }
    </h2>

    <div style="float: left">
        @{
            var colNumber = 2;
            var zoneOrder = new List<int> { 1, 2, 4, 3 }; // TODO: remove that
            var zones = Model.Select(c => c.Zone).Distinct().OrderBy(z => zoneOrder.IndexOf(z.Order)).ToList();
            
            <table>
            @for (int i = 0; i < zones.Count / colNumber; i ++)
            {
                <tr>
                @foreach(var zone in zones.GetRange(i * colNumber, colNumber))
                {
                    <td>
                        <div class="list-header">@zone.Name</div>
                        @foreach (var community in Model.Where(c => c.Zone == zone).OrderBy(c => c.Name)) 
                        {
                            <div class="list">
                                @if (Context.User.IsInRole("content_manager"))
                                {
                                    <sup class="alter">@Html.ActionLink("x", "Delete", new { id = community.Id }, new { title = "Delete " + community.Name })</sup>
                                }
                                <span>@Html.ActionLink(community.Name, "Details", new { id = community.Id })</span>
                            </div>
                        }
                    </td>
                }
                </tr>
            }
            </table>
        }
    </div>
    <div style="float: right; text-align: center; height:  100%">
        <iframe width="600" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid black; display: block" src="http://maps.google.com/?ie=UTF8&amp;ll=51.02844,-114.071045&amp;spn=0.448696,0.958557&amp;t=m&amp;z=11&amp;output=embed"></iframe>
        <small><a href="http://maps.google.com/?ie=UTF8&amp;ll=51.02844,-114.071045&amp;spn=0.448696,0.958557&amp;t=m&amp;z=11&amp;source=embed">View Larger Map</a></small>
    </div>
</div>

