@model IEnumerable<Bnh.Entities.Community>
@{
    ViewBag.Title = "Communities in Calgary";
}
@section Styles
{
    <link href="@Url.Content("~/Styles/CommunityIndex.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    @*<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBXgUOTPfgbS4kHE7fm_xr2za_O1ApA_TM&sensor=false" type="text/javascript"></script>*@
    @Html.Script("/Scripts/jquery.balloon.js")
    <script src="@Url.Content("~/WebExtracted/Ms.Cms/Scripts/Map.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/knockout-2.1.0.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/CommunityIndex.js")" type="text/javascript"></script>
}

<h2>
    @ViewBag.Title
    @if (Context.User.IsInRole("content_manager"))
    {
        <sup class="alter">@Html.ActionLink("create new", "Create", null, new { title = "Create new community" })</sup>
    }
</h2>

<table class="main">
    <tr>
        <td>
            <fieldset>
                <legend>Filter <a id="filterLegend" href="#">[show]</a></legend>
                @Html.Partial("CommunityFilterPartial")
            </fieldset>

            <ul class="zones" data-bind="foreach: zones">
                <li class="zone">
                        <div class="zone-header" data-bind="text: name"></div>
                        <div data-bind="foreach: communities">
                                 <div class="zone-community" data-bind='slideVisible: $root.filter().isCommunityVisible($data)' >
                                       @if (Context.User.IsInRole("content_manager"))
                                       {
                                           <sup class="alter"><a data-bind="attr: { href: deleteUrl, title: deleteTitle}" >x</a></sup>
                                       }
                                <a class="community" data-bind="text: name, infoPopup: infoPopup, attr: { href: detailsUrl, title: name}, event: {mouseover: communityMouseover, mouseout:communityMouseout }" ></a>
                                
                            </div>
                        </div> 
                </li>
            </ul>
        </td>
        <td>
            <div class="map-canvas-wrapper">
                <div id="mapCanvas" style="width: 600px; height: 800px;"></div>
            </div>
        </td>
    </tr>
</table>
