@model CommunityIndexViewModel
@{
    ViewBag.Title = "Calgary Communities";
    ViewBag.Description = "Pick a community";
}

@section Scripts
{
    <script>require(["community-index"]);</script>
}

@if (Context.User.IsInRole("content_manager"))
{
    <sup class="alter">@Html.ActionLink("create new", "Create", null, new { title = "Create new community" })</sup>
}

<div class="row" style="height:850px">

    <div class="span3">
        <fieldset>
            <legend>Filter</a></legend>
            @Html.Partial("CommunityFilterPartial")
        </fieldset>
    </div>

    <div class="span9">

        <div class="slider" data-bind="slider: slide">

            <div>

                <fieldset class="slide">
                    <legend>Community List View</legend>

                    @foreach(var zone in Model.Zones)
                    {
                    <div class="span2">
                        <div class="zone-header">@zone.Key</div>
                        <div>
                            @foreach(var community in zone.Value)
                            {
                            <div class="zone-community">
                                @if (Context.User.IsInRole("content_manager"))
                                {
                                <sup class="alter"><a href="@community.DeleteUrl">x</a></sup>
                                }
                                <a class="community" href="@community.DetailsUrl">@community.Name</a>
                            </div>
                            }
                        </div>
                        </div>
                    }

                    <div class="anchor right">
                        <a href="#" data-bind="click: onToggleSlide.bind($root)" title="Go to map view"><img src="~/img/map-icon.png" /><br />Map</a>
                    </div>

                </fieldset>@* remove white spaces for inline-blocks

                *@<fieldset class="slide">
                    <legend>Community Map View</legend>

                    <div class="anchor left">
                        <a href="#" data-bind="click: onToggleSlide.bind($root)" title="Go to list view"><img src="~/img/list-icon.png" /><br />List</a>
                    </div>

                    <div id="mapContainer" class="span8"></div>
                    <div class="span8 initially-hidden-map">
                        <div id="mapCanvas" data-mapcontainer="mapContainer" style="width: 100%; height: 800px;" ></div>
                    </div>
                </fieldset>

            </div>

        </div>

    </div>

</div>
