@model IEnumerable<Bnh.Entities.Community>
@{
    ViewBag.Title = "Communities in Calgary";
}
@section Styles
{
    <link href="@Url.Content("~/Styles/CommunityIndex.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    @*<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBXgUOTPfgbS4kHE7fm_xr2za_O1ApA_TM&sensor=false" type="text/javascript"></script>*@
    <script src="@Url.Content("/Scripts/Map.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/knockout.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/CommunityIndex.js")" type="text/javascript"></script>
}

<h2>
    @ViewBag.Title
    @if (Context.User.IsInRole("content_manager"))
    {
        <sup class="alter">@Html.ActionLink("create new", "Create", null, new { title = "Create new community" })</sup>
    }
</h2>

<fieldset>
    <legend>Filter <a id="filterLegend" href="javascript:void">[show]</a></legend>
    @Html.Partial("CommunityFilterPartial")
</fieldset>

<table class="main">
    <tr>
        <td>
            <table class="zones">
                @{
                    var rowCount = 2;
                    var zones = Model.Select(c => c.Zone).Distinct().OrderBy(z => z.Order).ToList();

                    for (var i = 0; i < zones.Count / rowCount; i++)
                    { 
                    <tr>
                        <td>
                            @foreach (var zone in zones.GetRange(i * rowCount, rowCount))
                            {
                                <div class="zone">
                                    <div class="zone-header">@zone.Name</div>
                                    @foreach (var community in zone.Communities.OrderBy(c => c.Name))
                                    {
                                        <div class="zone-community" data-bind='visible: isCommunityVisible(@community.GetClientProperties())'>
                                            @if (Context.User.IsInRole("content_manager"))
                                            {
                                                <sup class="alter">@Html.ActionLink("x", "Delete", new { id = community.Id }, new { title = "Delete " + community.Name })</sup>
                                            }
                                            <span>@Html.ActionLink(community.Name, "Details", new { id = community.UrlId }, new { @class="community", gpsLocation = community.GpsLocation, gpsBounds = community.GpsBounds })</span>
                                        </div>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                    }        
                }
            </table>
        </td>
        <td>
            <div class="map">
                <div id="mapCanvas" style="width: 600px; height: 800px;"></div>
            </div>
        </td>
    </tr>
</table>
