<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Brand New Homes</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.Content("~/Styles/Layout.css")" rel="stylesheet" type="text/css" />
        @RenderSection("Styles", false)
        @RenderSection("_MsCmsStyles", false)
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/libs/require/require.min.js" data-main="@Url.Content("~/Scripts/bootstrap")"></script>
    </head>
    <body>
        <div class="page">

            <div class="header">
                <div class="logo"></div>
                <div class="user-display">
                    <span class="user-actions">@Html.Partial("_LoginPartial")</span>
                </div>
            </div>
        
            <div class="menu">
                <nav>
                    <ul>
                        @Html.ActionMenuItem("Home", "Index", "Home")
                        @Html.ActionMenuItem("Communities", "Index", "Community")
                        @Html.ActionMenuItem("Forum", "Index", "Builder")
                        @Html.ActionMenuItem("Search", "About", "Home")
                    </ul>
                    <ul class="right">
                        @Html.ActionMenuItem("About", "About", "Home")
                    </ul>
                </nav>
            </div>

            <div class="content">
                @RenderBody()
            </div>

            <div class="footer">
                <div class="credits">
                    <span class="poweredby">Powered by <a href="http://www.msilivonik.com" target="_blank">Me</a></span>
                    <span class="copyright">© Me 2012</span>
                </div>
            </div>

        </div>

        @RenderSection("Scripts", false)
        @RenderSection("_MsCmsScripts", false)
    </body>
</html>