<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Brand New Homes</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
        @RenderSection("Styles", false)
        @RenderSection("_MsCmsStyles", false)
        <meta name="viewport" content="width=device-width" />
        <script src="~/js/libs/require/require.min.js" data-main="@Url.Content("~/js/main")"></script>
    </head>
    <body>

        <div class="header navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <div class="logo"></div>
                        </div>
                        <div class="span8">
                            <div class="pull-right right">
                                <div>@Html.Partial("_LoginPartial")</div>
                                <nav>
                                    <ul class="nav">
                                        @Html.ActionMenuItem("Home", "Index", "Home")
                                        @Html.ActionMenuItem("Communities", "Index", "Community")
                                        @Html.ActionMenuItem("Search", "Index", "Search", new { id = "search-button", rel = "popover", href="#" })
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="page" class="container">

            <header>
                <h1 class="title">@Html.Raw(ViewBag.Title)</h1>
                <h4 class="description">@Html.Raw(ViewBag.Description)</h4>
            </header>

            @RenderBody()

        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span12 center">
                        <div class="inline">
                            <div class="span3">
                                <h5>About</h5>
                                <p>BrandNewHomes.ca is a first choice to start your new home search. New home buying process has a lot of choises - make the right one!</p>
                            </div>
                            <div class="span4">
                                <div class="small-logo"></div>
                            </div>
                            <div class="span3">
                                <h5>Contacts</h5>
                                <p>E-mail: info@brandnewhomes.ca<br />
                                Phone: +1 (403) 481-1111<br />
                                Fax: +1 (403) 366-5995</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span0"></div>
                    <div class="span12 copyright">Copyright © 2012 BrandNewHomes.ca All rights reserved.</div>
                </div>
            </div>
        </footer>

        @RenderSection("Scripts", false)
        @RenderSection("_MsCmsScripts", false)
    </body>
</html>