@model IEnumerable<Bnh.Entities.Builder>

@{
    ViewBag.Title = "Builders in Calgary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-view">
    <h2>@ViewBag.Title</h2>

    @if (Context.User.IsInRole("content_manager"))
    {
        <p class="alter">@Html.ActionInputLink("Create new...", "Create")</p>
    }

    <table>  
        @{
            var groupNumber = 4;
            var builderGroups = Model.OrderBy(b => b.Name).GroupBy(b => b.Name[0].ToString()).ToList();
        }
        @for (int i = 0; i <= builderGroups.Count / groupNumber; i++)
        {
            <tr>
                @foreach (var builderGroup in builderGroups.Skip(i * groupNumber).Take(groupNumber))
                {
                <td>
                    <div class="list-header">@builderGroup.Key</div>
                    
                    @foreach (var builder in builderGroup)
                    {
                        <div class="list">
                            @if (Context.User.IsInRole("content_manager"))
                            {
                                <sup class="alter">@Html.ActionLink("x", "Delete", new { id = builder.Id }, new { title = "Delete " + builder.Name })</sup>
                            }
                            <span>@Html.ActionLink(builder.Name, "Details", new { id = builder.Id })</span>
                        </div>
                    }
                    
                </td>
                }
            </tr>
            <tr>
                <td colspan="@groupNumber"><hr /></td>
            </tr>
        }
    </table>


    @*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }*@

  

</div>
